<!DOCTYPE html>
<html>
<head><link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
</head>
<body>
  <svg width="100%" height="300" xmlns="http://www.w3.org/2000/svg">
    <!-- Background -->
    <rect width="100%" height="100%" fill="#007bff" />
    <!-- Circle -->
    <circle cx="200" cy="150" r="80" fill="#fff" />
    <!-- Rectangle -->
    <rect x="950" y="100" width="150" height="100" fill="#fff" />
    <!-- Polygon -->
    <polygon points="500,100 600,100 550,200" fill="#fff" />
  </svg>
  </body>

<nav class="menu">
  <ul>
    <li><a href="../index.html">index.html</a></li>
</ul>
    <ul>
        <li><a href="./two.html">two.html</a></li>
    </ul>
    <ul>
        <li><a href="./three.html">three.html</a></li>
    </ul>
    
</nav>
<h1>
    SVG Animation is easy!
</h1>
<body><img src="../resources/Everything else.../page-three.svg"></img></body>
</html>
