<!DOCTYPE html>
<html>
  <body>
    <svg width="100%" height="300" xmlns="http://www.w3.org/2000/svg">
      <!-- Background -->
      <rect width="100%" height="100%" fill="#007bff" />
      <!-- Circle -->
      <circle cx="200" cy="150" r="80" fill="#fff" />
      <!-- Rectangle -->
      <rect x="950" y="100" width="150" height="100" fill="#fff" />
      <!-- Polygon -->
      <polygon points="500,100 600,100 550,200" fill="#fff" />
    </svg>
  </body>
<head>
  <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
<title>Favorite Coding Resources</title>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
</style>
</head>
<body>

<nav class="menu">
  <ul>
    <li><a href="./index.html">index.html</a></li>
</ul>
    <ul>
        <li><a href="./views/two.html">two.html</a></li>
    </ul>
    <ul>
        <li><a href="./views/three.html">three.html</a></li>
    </ul>
    

</nav>

<h1>
    Favorite Coding Resources
</h1>

<table border="1">
  <caption>List of Resources</caption>
  <thead>
    <tr>
      <th>Coding Resource</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MDN Web Docs</td>
      <td><a href="https://developer.mozilla.org/en-US/docs/Web">Link to MDN Web Docs</a></td>
    </tr>
    <tr>
      <td>Stack Overflow</td>
      <td><a href="https://stackoverflow.com/">Link to Stack Overflow</a></td>
    </tr>
    <tr>
      <td>Git Guides</td>
      <td><a href="https://github.com/git-guides">Link to Git Guides</a></td>
    </tr>
</tbody>
</table>

</body>
</html>